<?php

// Paquetes PEAR requeridos para el inicio de sesion
require_once('PEAR.php');
require_once('DB/DataObject.php');
require_once "Auth/Auth.php";

// Parseo el archivo data.ini
$config = parse_ini_file(DATAFILE, true);

// String de conexion
$URIconexion = $config['DB_DataObject']['database'];

// Seteo de parametros de conexion para el Auth
$params = array(
    // Conexion
    "dsn" => $URIconexion,
    // Tabla y columnas con el usuario
    "table" => "public.usuario",
    "usernamecol" => "usr_usuario",
    "cryptType" => "md5",
    "passwordcol" => "usr_password",
    // Variables con la informacion
    "postUsername" => "usuario",
    "postPassword" => "password",
    "db_fields" => array()
);

foreach ($config as $class => $values) {
    // Se deberia buscar una mejor manera de hacer esto
    @$options = &PEAR::getStaticProperty($class, 'options');
    $options = $values;
}

// Opciones para el formulario de login
$_DB_DATAOBJECT_FORMBUILDER['CONFIG'] = $config['DB_DataObject_FormBuilder'];

// para que los botones tomen el estilo class.
$options['elementTypeAttributes'] = array(
    'submit' => array('class' => 'button'),
    'shorttext' => array('size' => '25')
);
?>