<?php

/*      local_path.config
 *
 *      Configuraciones de rutas a directorios locales
 *
 *      maxi@swcontroltareas
 */


    //Ruta raiz de la aplicación
    define('PATH_ROOT', $_SERVER["DOCUMENT_ROOT"]);
    define('DIR_WWW', 'madexa'); /* Modificar solo esto. Carpeta del checkout */
    define('PATH_WWW', PATH_ROOT . '/' . DIR_WWW);
    define('PATH_APP', 'http://localhost/madexa');

    //Ruta de Smarty
    define('DIR_SMARTY', '/usr/local/lib/Smarty-2.6.26/libs/');
?>