<?php

/*      smarty.config
 *
 *      Configuracion de Smarty
 *
 *      maxi@swcontroltareas
 */

require_once(DIR_SMARTY . 'Smarty.class.php');
require_once(PATH_INC . '/rutas.php');
define('APP_PATH','');
//require_once(PATH_INC . '/datos.php');

class tpl extends Smarty {

    function tpl() {
        parent::Smarty();
        $this->template_dir = PATH_TPL . '/templates/';
        $this->compile_dir = PATH_TPL . '/templates_c/';
        $this->config_dir = PATH_TPL . '/configs/';
        $this->cache_dir = PATH_TPL . '/cache/';
        $this->caching = false; //true;
        $this->debug = true; //true;
        $this->assign('baseurl', PATH_APP);
        $this->assign('ruta', rutas());

        $this->assign('path_GUI', PATH_mod);
        $this->assign('path_gui', PATH_gui);
        if (isset($_SESSION['usuario']['nombre_apellido']))
            $this->assign('nombre_apellido', $_SESSION['usuario']['nombre_apellido']);
        //$obj = datos();
//        while ($obj->fetch()) {
//            $this->assign('emp_nombre', $obj->emp_nombre);
//            $this->assign('emp_mail', $obj->emp_mail);
//            $this->assign('emp_telefono1', $obj->emp_telefono1);
//            $this->assign('emp_telefono2', $obj->emp_telefono2);
//            $this->assign('emp_logo_empresa', $obj->emp_logo_empresa);
//        }
        //$linksMenu = AccesoOceba::getMenuPrincipal();
        //var_dump($linkMenu2);
        //exit;
        //$this->assign('linksMenu',$linksMenu);
    }

}
?>