<?php

/*      web.config
 *
 *      Configuracion del sistema
 *
 *      maxi@swcontroltareas
 */

//############################ General                ############################

// Registro de la sesión
session_start();
define('TIEMPO_INICIAL', microtime(true));

// Rutas locales
require_once('local_path.config');

// Parametros HTTP
header('Content-Type: text/html; charset=utf-8');

// Caracteristicas de la aplicación
define('WEB_TITULO', 'Sistema de gestión - MADEXA');
define('APP_ID', 2);

// Modo debug
define('ECHO_DEBUG', 1);

//############################ Directorios del sistema ############################

// Configuraciones
define('DIR_CFG', 'config');
define('DIR_INC', 'inc');

// GUI
define('DIR_gui', 'sys_gui');
define('DIR_ARCH', 'sys_gui/uploads');
define('DIR_GUI', 'gui');
define('DIR_TPL', 'templates');
define('DIR_IMG', 'img');
define('DIR_JS',  'js');
define('DIR_CSS', 'css');
define('DIR_YUI', 'yui');

// MODULOS
define('DIR_MOD', 'sys_modules');
define('DIR_SEC', 'seguridad');

// ACCESO A DATOS
define('DIR_AD', 'sys_data');

// PATHs a todos los directorios

define('PATH_CFG', PATH_WWW . '/' . DIR_CFG);
define('PATH_INC', PATH_CFG . '/' . DIR_INC);

define('PATH_gui', PATH_APP . '/' . DIR_gui);
define('PATH_mod', PATH_APP . '/' . DIR_MOD);
define('PATH_GUI', PATH_gui . '/' . DIR_GUI);
define('PATH_ARCH', PATH_WWW . '/' . DIR_ARCH);


define('PATH_TPL', PATH_WWW . '/sys_gui/templates');
define('PATH_IMG', PATH_gui . '/' . DIR_IMG);
define('PATH_CSS', PATH_gui . '/' . DIR_CSS);
define('PATH_JS',  PATH_gui . '/' . DIR_JS );
define('PATH_YUI', PATH_gui . '/' . DIR_YUI);

define('PATH_MOD', PATH_WWW . '/' . DIR_MOD);
define('PATH_SEC', PATH_MOD . '/' . DIR_SEC);

define('PATH_AD',  PATH_WWW . '/' . DIR_AD );


//############################ Misceláneos             ############################

// Parametros de conexión con las bases de datos
define('DATAFILE', PATH_CFG . '/data.ini');

// Parametros para el QuickForm de login en index.php
define('FRM_NOTA', '(<font color="#FF0000">*</font>) Campo requerido.');
define('FRM_WARNING_TOP', 'Los siguientes datos son inválidos');
define('FRM_WARNING_BUTTON', 'Por favor corrige estos campos.');

define('FRM_NEW_VALOR', '-- Nuevo Valor --');

// Seguridad

define('AUTHFILE', PATH_INC . '/auth.php');

//############################ Otros                   ############################

// Reciclado - Verificar qué sirve y qué no
define('LINES', '<em><strong><font color="333399">Lines</font></strong></em>');
define('NUEVA_LINEA', '<p>&nbsp;</p>');
define('SEPARADOR', ' &raquo; ');
define('REQUERIDO', '<strong><font color="#FF0000"> * </font></strong>');
define('SPACE', '&nbsp;');
define('ILEGAL', 'ERROR: Acción ilegal');

setlocale(LC_TIME, 'spanish');

// Si = 1 , visualiza warning/errors/notice (afectan a toda la aplicación)

ini_set('display_errors', 1);

// Máximo número de filas por grilla (afecta a las grillas principales de cada módulo
//define('MAX_FILAS', 20);

//define('DB_DATAOBJECT_NO_OVERLOAD', 0);

/* Páginas de uso común
define('PGN_INDEX', HOM_DIR . '/home.php');
define('PGN_LOGIN', HOM_DIR . '/index.php');
define('PGN_LOGOUT', HOM_DIR . '/logout.php');
define('PGN_ACCESODENEGADO', HOM_DIR . '/denegado.php');

*/
?>